body
{
    background-image: linear-gradient(to bottom right, #b4faf5 , #c690f5);
}

h1
{
    color: rgb(38, 0, 255);
    
}

#show_sketch
{
    float: right;
    margin-top: 4px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: glow;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes glow {
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}

p
{
    padding-top: 10px;
    font-size: 25px;
}